<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

This notebook provides an overview of the tools and ecosystem in the field of data science.

**Objectives:**
- Top 10 Most Used Languages for Data Science
- Some of the commonly used libraries used by Data Scientists
- Data Science Tools
- Examples of performing arithmetic operations

### Top 10 Most Used Languages for Data Science

1. **Python**
2. **R**
3. **SQL**
4. **Julia**
5. **Scala**
6. **Java**
7. **SAS**
8. **Matlab**
9. **JavaScript**
10. **C++**

### Some of the commonly used libraries used by Data Scientists include:

1. **Pandas** (Python)
2. **NumPy** (Python)
3. **scikit-learn** (Python)
4. **TensorFlow** (Python)
5. **PyTorch** (Python)
6. **Matplotlib** (Python)
7. **Seaborn** (Python)
8. **XGBoost** (Python)
9. **Keras** (Python)
10. **Dplyr** (R)

### Data Science Tools:

| Data Science Tools          |
|-----------------------------|
| Jupyter Notebook            |
| RStudio                     |
| Visual Studio Code          |

### Here are some examples of performing arithmetic operations in Python

In [1]:
(3*4)+5

17

*This is a basic arithmetic operation that multiplies and then adds integers.*

In [3]:
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

This converts 200 minutes into hours by dividing by 60.

## Author
Sergio Eduardo Olivo Torres